body{
    background-color: black;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
}
.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu {
    color: white;
  
}
.biography {
    font-size: 300%;
}

.article {
    margin: 0 25%;
}
.article p {
    line-height: 24px;
    font-size: 17px;
}

#tweet {
    margin: 4rem;
}

#selfp {
    height: 350px;
    width: 350px;
    border-radius: 50%;

}


.sidebyside {
    display: flex;
    width: 80%;
    padding-top: 50px;
    gap: 40px;
}
.left1 {
  width: 50%;
}
.left1 h1{
    font-size: 260%;
}
.right1 {
    width: 50%;
}

.standalone-1 h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 300%;
    
}
.underline {
    border: 1px solid white;
    margin: 0 10%;
    max-width: 800px;
    min-width: 200px;
}
.wedesi {
    margin: 0 25%;
}
.wedesi h2 {
    font-size: 270%;
    text-align: center;
    line-height: 60px;
}

.viwp {
    font-size: 35px;
}

.pictures-6 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    width: 80%;
    margin: 20px 100px 20px 100px;
    padding-top: 100px;

}

#zzz {
    height: 330px;
    width: 330px;
    border-radius: 40px;
}

.learn {
    padding-top: 40px;
}

.house {
    border: 2px solid white;
    margin: 0 20%;
}
.house h2 {
    margin: 30px;
}
.motivation {
    display: flex;
    width: 80%;
    padding-top: 50px;
    gap: 60px;
}
.motivation p {
    font-size: 19px;
    font-weight: lighter;
}

.left-motive {
    width: 50%;

}

.right-motive {
    width: 50%;
}

#signpic {
    width: 200px;
    height: 150px;
}
.headie, .number, .place, .here, .sample {
    font-size: 20px;
}
.headie {
    font-size: 45px;
    text-align: center;
}
#contact-image {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    
}
.thickdash {
    border-bottom: 15px solid white;
    width: 200px;
}
.number a {
    color: white;
    text-decoration: none;
}

.sample {
    text-align: center;
}
@media screen and (max-width: 1000px) {
    .pictures-6 {
        display: grid;
        grid-template-columns: 1fr 1fr ;
        gap: 40px;
        width: 80%;
        margin: 20px 100px 20px 100px;
        padding-top: 100px;
    

    }
    
    .underline {
        border: 1px solid white;
        margin: 0 10%;
        width: 200px;
    }
    
}

@media screen and (max-width: 780px) {
    body {
    
    }

    .pictures-6 {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding-top: 100px;
    
    }    

}


@media screen and (max-width: 500px) {
    body {
    
    }
    .pictures-6 {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding-top: 100px;
    
    }  
    
    .sidebyside, .motivation {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 0;

    }


    .article p, .left1, .right1, .right-motive, .left-motive {
        margin: 0 1%;
        width: auto;
    }
    

}